.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 75px;
}

.imageField {
  margin-left: 35px;
  margin-top: 70px;
}

.modulesField {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 35px;
  margin-top: 70px;
}

.modulesField p{
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.5s;
}

.flagButtons {
  margin-right: 4rem;
}

/* .flagButtons :first-child{
  margin-right: 0.5rem;
} */

.flag {
  border-radius: 100px;
}


.modulesField p:hover{
  color: var(--yellow);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}