.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 300px);
  align-items: center;
  flex-direction: column;
  background-color: var(--main-dark);
}

.container h2 {
  font-size: 2.4rem;
  margin-top: 30px;
}

.body {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.skillBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    width: 20%;
    padding: 1rem;
    background-color: var(--main-dark);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.skillBox h3 {
    font-size: 1.8rem;
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.skillDescription {
  font-size: 1.3rem;
  font-weight: 100;
  text-align: center;
  font-family: 'Poppins';
  line-height: 2.4rem;
}

.skillDescriptionHighlight {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Poppins';
  color: var(--yellow);
}