.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container h2 {
  font-size: 2.4rem;
  margin-top: 30px;
}

.body {
  margin-top: 2.1rem;
}

.body h5 {
  font-size: 1.3rem;
  font-weight: 200;
}
