:root {
  --main: #2E2E35;
  --main-dark: #2B2B34;
  --white: #DADADA;
  --yellow: #E4AA48;
  --red: #ff6961;
  --green: #90ca87;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  background: var(--main);
}

body,
input,
textarea,
button {
  font: 400 1rem 'Poppins', mono, sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}